<h1>Tämänhetkiset Säätiedot</h1>

<table>
    <tr>
        <th>Paikka</th>
        <th>Päiväys ja aika</th>
        <th>Lämpötila</th>
        <th>Tuulen nopeus</th>
        <th>Tuulen suunta</th>
    </tr>
    {{#each tableData}}
    <tr>
        <td>{{place}}</td>
        <td>{{timestamp}}</td>
        <td>{{temperature}}</td>
        <td>{{wind_speed}}</td>
        <td>{{wind_direction}}</td>
    </tr>
    {{/each}}
</table>